.hero {
    padding: 200px 0;

    background-color: #2f303a;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../../images/hero__bg.jpeg);
    background-size: cover;
    background-repeat: no-repeat;

    &__header {
        margin-bottom: 30px;

        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        color: #FFFFFF;
    }
}

.container--hero {
    max-width: 696px;
}

.button {
    @extend %button;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    width: 200px;
    height: 50px;
}
